<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>job and skill</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"  />

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="form1" runat="server" method="post"  action="/userlogin">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="user name" name="uname" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" id="password">

        <button>Log In</button>
        <div class="social">
          <div class="go"><a href="/NewUser"> Register</a></div>
          <div class="fb"><a href="/alogin" > Admin </a></div>
        </div>
    </form>
</body>
</html>
